footer{
background-color: RGB(55, 65, 81);
color:white;
}
/*
 .flex {
  padding: 23px 20px;
  justify-content: space-evenly;
  display: flex;
}
.flex ul {
  list-style: none;
}
.flex > div {
  width: 227px;
}
footer .footer-rights {
  text-align: center;
  color: black;
  padding: 12px 0px;
} */